<!doctype html>
<html lang="en">
<head>
    <base href="./">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="text-left" style="margin-bottom: 7px;">
        <a href="/"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Trabajo </button></a>
        
        <a href="/ordenCliente"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Cliente</button> </a>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="content">
            <div>
                <div class="card card-header" style="width: 100%; height: 60px;">
                    <div style="float: left;">
                        <h3>Control de Peso en Recepción</h3>
                    </div>
                </div>
                <table class="table table-bordered" style="height: 30px;">
                    <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                        <td style="width: 300px; text-align: left;">
                            <b>#Orden de Trabajo:</b>
                            <br>
                            <label for="codigo">
                                O/T-{{ordenTrabajo.id}}-2021
                            </label>
                            
                        </td>
                        <td style="width: 300px;text-align: left;">
                            <b>Entidad:</b>
                            <br>
                            <label for="proveedor">
                                {{ordenTrabajo.proveedor}}
                            </label>
                            
                        </td>
                        <td style="width: 150px;text-align: left;">
                            <b>Lote:</b>
                            <br>
                            <label for="lote">
                                {{ordenTrabajo.lote}}
                            </label>
                            
                        </td>
                        <td style="width: 300px;text-align: left;">
                            <b>Producto:</b>
                            <br>
                            <label for="producto">
                                {{ordenTrabajo.producto}}
                            </label>
                        </td>
                        <td style="width: 300px;text-align: left;">
                            <b>Camaron de Mar:</b>
                            <br>
                            <span *ngIf="ordenTrabajo.camaronMar=='false'">NO</span>
                            <span *ngIf="ordenTrabajo.camaronMar=='true'">SI</span>
                            <span *ngIf="ordenTrabajo.camaronMar=='SI'">SI</span>
                            <span *ngIf="ordenTrabajo.camaronMar=='NO'">NO</span>
                            <span *ngIf="ordenTrabajo.camaronMar=='1'">SI</span>
                            <span *ngIf="ordenTrabajo.camaronMar=='0'">NO</span>
                            <span *ngIf="ordenTrabajo.camaronMar=='null'">NO</span>
                        </td>
                        <td style="width: 400px;text-align: left;">
                            <b>Destino Producto:</b>
                            <br>
                            <label for="tipoProducto">
                                <span *ngIf="ordenTrabajo.tipoProductoC=='true'">Camaron para Clasificar</span>
                                <span *ngIf="ordenTrabajo.tipoProductoD=='true'">Camaron para Descabezar</span>
                            </label>
                            
                        </td>
                    </tr>
                </table>
                <div class="card card-header" style="width: 100%; height: 90px;">
                    <div style="float: left;">
                        <h3>Guías/Carros</h3>
                    </div>
                    <div style="text-align: right;">
                        <button class="btn btn-outline-secondary btn-sm">
                            <i class="fas fa-plus"> </i>
                                AGREGAR GUÍA
                        </button>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <td style="text-align: left;">
                            <button  *ngFor="let guiaRemision of guiasRemision" class="btn btn-outline-secondary" style="width: 200px; text-align: left; margin-right: 70px; height: 60px;" >
                                <i class="fas fa-truck"></i>  #{{guiaRemision.placa}}
                                <br>
                                <b>({{guiaRemision.chofer}})</b>
                            </button>
                       </td>
                    </tr>
                </table>
                
                <!-- VALIDAR QUE SOLO SE MUESTRE LA INFORMACIÓN CORRESPONDIENTE A EL BOTÓN QUE SE SELECCIONA -->

                <div class="row">
                    <div class="col-xs-12">
                        <div >
                            <div class="col-sm-5" *ngFor="let guiaRemision of guiasRemision">
                                <span class="h3" style="color: #cc330c;">GUÍA# {{guiaRemision.codigo}} </span>
                                <span style="color: rgb(66, 140, 209);"><i class="fas fa-cog"></i></span>
                                <span style="color: rgb(66, 140, 209);">
                                    <a [routerLink]="['/ordenTrabajo/recepcion/guiaRemision/config', guiaRemision.id]">
                                        Config
                                    </a> 
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <table style="font-size: 15px;">
                                    <tbody>
                                        <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                                            <td class="text-muted">FECHA:</td>
                                            <td>:</td>
                                            <td>
                                                {{ordenTrabajo.fechaRegistro}}
                                            </td>
                                        </tr>
                                        <tr *ngFor="let guiaRemision of guiasRemision" >
                                            <td class="text-muted">PESO PROV:</td>
                                            <td>:</td>
                                            <td>
                                                {{guiaRemision.peso}}
                                            </td>
                                        </tr>
                                        <tr *ngFor="let guiaRemision of guiasRemision" >
                                            <td class="text-muted">PLACA CARRO:</td>
                                            <td>:</td>
                                            <td>
                                                {{guiaRemision.placa}}
                                            </td>
                                        </tr>
                                        <tr *ngFor="let guiaRemision of guiasRemision" >
                                            <td class="text-muted">CHOFER CARRO:</td>
                                            <td>:</td>
                                            <td>
                                                {{guiaRemision.chofer}}
                                            </td>
                                        </tr>
                                        <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                                            <td class="text-muted">PRODC ENVIADO</td>
                                            <td>:</td>
                                            <td>
                                                {{ordenTrabajo.tipoProducto}}
                                            </td>
                                        </tr>
                                        <tr *ngFor="let guiaRemision of guiasRemision" >
                                            <td class="text-muted">PESO RECEPCIÓN:</td>
                                            <td>:</td>
                                            <td>
                                                {{guiaRemision.peso}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="margin-top: 10px; margin-bottom: 12px;">
                                    <a class="btn-default" target="_blank">
                                        <button class="btn btn-flat">
                                            <i class="far fa-file-pdf"></i>
                                            <br>
                                            <label>PDF</label>
                                        </button>
                                    </a>
                                    <a class="btn-default" target="_blank">
                                        <button class="btn btn-flat">
                                            <i class="fas fa-eye"></i>
                                            <br>
                                            <label>Ver Guía</label>
                                        </button>
                                    </a>
                                    <a class="btn-flat" *ngFor="let guiaRemision of guiasRemision">
                                        <button (click)="abrirGuiaRemision(guiaRemision.id)"class="btn btn-success">
                                            <i class="fas fa-upload"></i>
                                            <br>
                                            <label>Abrir</label>
                                        </button>
                                    </a>
                                    <a class="btn-flat">
                                        <button class="btn btn-info">
                                            <i class="fas fa-pencil-alt"></i>
                                            <br>
                                            <label>Actualizar</label>
                                        </button>
                                    </a>
                                        
                                    <a class="btn-flat" *ngFor="let guiaRemision of guiasRemision">
                                        <button class="btn btn-danger" (cick)="deleteGuiaRemision(guiaRemision.id)">
                                            <i class="fas fa-trash"></i>
                                            <br>
                                            <label>Eliminar</label>
                                        </button>
                                    </a>
                                </div>

                                </div>
                                <!--Último Peso-->
                                <div class="col-sm-3 text-center">
                                    <label class="text-center" style="padding-left: 0px; padding-right: 0px;"> ÚLTIMO PESO</label>
                                    <div class="fomr-group has-feedback" >
                                        <input type="text" class="form-control" name="ultimopeso" value="0" readonly style="text-align: center; font-size: 35px; height: 45px; color: darkblue; padding-right: 10px; padding-left: 0px;"> 
                                    </div>
                                    <span class="text-muted">
                                        TANQUE #1
                                        <span></span>
                                    </span>
                                </div>

                            </div>
                       

                        
                    <div>
                </div>
                </div>

            </div>
            </div>
        </div>
    
    </nav>
</body>