<!doctype html>
<html lang="en">
<head>
    <base href="./">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="text-left" style="margin-bottom: 7px;">
        <a href="/"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Trabajo </button></a>
        
        <a href="/ordenCliente"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Cliente</button> </a>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="content">
            <div>
                <div class="card card-header" style="width: 100%;">
                    <div style="float: left;">
                        <h4>Guías de Remisión</h4>
                    </div>
                    <div style="text-align: right;">
                        <table style="float: right;">
                            <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <td>
                                    <a href="/"><button class="btn btn-danger" style="margin-right: 7px;">
                                        <i class="fas fa-chevron-left"> </i>
                                        Regresar
                                    </button></a>
                                    <a [routerLink]="['/ordenTrabajo/aprobacion', ordenTrabajo.id]"><button class="btn btn-warning" style="margin-right: 7px; color: white;;">
                                        Aprobación de Calidad
                                        <i class="fas fa-flask"></i>
                                    </button></a>
                                    <a><button class="btn btn-success" (click)="openDialog()" style="margin-right: 7px;">
                                        Nueva Guía
                                        <i class="far fa-file-alt"></i>
                                    </button></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                    <table class="pure-table pure-table-condensed-x table-bordered" style="width: 100%; height: 20%; font-size: 14px; margin-bottom: 10px;">
                        <tbody>
                            <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <td><b> FECHA:</b>
                                    {{ordenTrabajo.fechaRegistro}}
                                </td>
                                <td><b> COLOR CAMARON: </b>
                                    {{ordenTrabajo.colorCamaron}}
                                </td>
                                <td rowspan="4" style="vertical-align: text-top; text-align: center; "><b>Calidad:</b>
                                    <br>
                                    <label for="calidad" style="font-size: 50px;"> {{ordenTrabajo.calidad}} </label>
                                </td>
                                
                            </tr>
                            <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <td><b> LOTE: </b>
                                    {{ordenTrabajo.lote}}
                                </td>
                                <td><b> PROCEDENCIA: </b>
                                    {{ordenTrabajo.procedencia}}
                                </td>
                            </tr>
                            <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <td><b>PROVEEDOR:</b>
                                    {{ordenTrabajo.proveedor}}
                                </td>
                                <td><b>PISCINA:</b>
                                    {{ordenTrabajo.piscina}}
                                </td>
                            </tr>
                            <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <td><b>MATERIA PRIMA: </b>
                                    {{ordenTrabajo.producto}}
                                </td>
                                <td>
                                    {{ordenTrabajo.tipoProducto}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-bottom: 50px;">
                        <b><label>GUÍAS:</label></b>
                        <div class="pull-right">
                            <button class="btn btn-outline-secondary btn-sm" style="font-size: 12px; float: right;">
                                Reporte Calidad por O/T <i class="far fa-file-pdf"></i>
                            </button>
                        </div>
                    </div>
                    <div style="text-align: right; margin-bottom: 20px; width: 100%;">
                        
                    </div>
                    <table class="table table-bordered " style="width: 100%; margin: 0 auto; text-align: left;">
                        <thead>
                            <tr style="text-align: left; background-color: #ddd; ">
                                <th data-col-seq="0" style="color:steelblue; width: 11.12%;">Folio</th>
                                <th class="text-center" data-col-seq="1" style="width: 17.94%;">N° Guia Prov</th>
                                <th data-col-seq="2"  style="width: 23.68%;">Vehiculo</th>
                                <th class="text-center" data-col-seq="3" style="width: 9.87%;">Peso</th>
                                <th style="width: 12.56%;" data-col-seq="4">Gavetas</th>
                                <th style="width: 16.98%;">Muestras(Lb)</th>
                                <th style="width: 11.21%;" >Estado</th>
                                <th style="width: 17.49%;" ></th>
                                <th style="width: 10.96%;" ></th>
                                <th style="width: 14.23%;" ></th>
                                <th style="width: 10.52%;" ></th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr *ngFor="let guiaRemision of guiasRemision
                            | paginate: {itemsPerPage: 15, currentPage: pageActual}" class="w0">
                                <td style="width: 30px;">{{guiaRemision.id}}</td>
                                <td style="text-align: center;width: 100px">{{guiaRemision.codigo}}</td>
                                <td style="width: 150px;">
                                    Hora Ing: 
                                    {{guiaRemision.horaingreso}}
                                    <br>
                                    Placa: 
                                    {{guiaRemision.placa}}
                                    <br>
                                    Chofer:
                                    {{guiaRemision.chofer}}
                                </td>
                                <td  style="text-align: center; width: 80px;">
                                    {{guiaRemision.peso}}
                                </td>
                                <td  style="text-align: center; width: 80px;">
                                    {{guiaRemision.gavetas}}
                                </td>
                                <td  style="text-align: center; width: 80px;">
                                    {{guiaRemision.muestras}}
                                </td>
                                <td  style="text-align: center; width: 150px;">
                                    <span style="color: seagreen;" *ngIf="guiaRemision.estado==1"><i class="fas fa-lock-open"></i></span>
                                </td>
                                <td  style="text-align: center; width: 150px;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                                    <a [routerLink]="['/ordenTrabajo/guiasRemision/', ordenTrabajo.id ,'analisisCalidad', guiaRemision.id ]"><button class="btn btn-outline-primary"> <i class="fas fa-flask"></i> Análisis</button></a>
                                </td>
                                <td  style="text-align: center; width: 100px;">
                                    <button style="border-color: white; font-size: 30px;" class="btn btn-link btn-outline-secondary">
                                        <i class="far fa-file-image"></i>
                                    </button>
                                </td>
                                <td style="width: 150px; text-align: center;">
                                    <button class="btn btn-outline-secondary btn-sm" style="margin-bottom: 7px;">
                                        <i class="far fa-file-pdf"></i> PDF
                                    </button>
                                    <br>
                                    <button class="btn btn-outline-secondary btn-sm">
                                        <i class="far fa-file-excel"></i> XLS
                                    </button>
                                    
                                </td>
                                <td style="text-align: center; width: 100px;">
                                    <a><button class="btn btn-primary btn-sm" style="margin-bottom: 7px;">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button></a>
                                    <br>
                                    <button class="btn btn-danger btn-sm" (click)="deleteGuiaRemision(guiaRemision.id)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: right;">
                                    <b ><label for="total" >Total</label></b> 
                                </td>
                                <td *ngFor="let guiaRemision of guiasRemision">
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td colspan="6">
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
               </div>
        </div>
    </nav>
</body>
                   
