<!doctype html>
<html lang="en">
<head>
    <base href="./">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="text-left" style="margin-bottom: 7px;">
        <a href="/"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Trabajo </button></a>
        
        <a href="/ordenCliente"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Cliente</button> </a>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="content">  
            <div class="card text-center">
                
                <div class="card card-header registrotitle text-left">
                    <h3>Orden Trabajo (Camarón)</h3>  
                </div>
                <div class="card-body ">
                    <div>
                        <button type="button" class="btn btn-success btn-sm" routerLink="ordenTrabajo/add" routerLinkActive="active" style="margin-bottom: 16px; float: left;" ><a aria-current="page"></a>
                            <i class="fas fa-plus"> Nueva Orden de Trabajo</i>
                        </button> 
                    </div>
                    <div style="float: right; margin-bottom: 20px;">
                        <div>
                            <a href="/ordenCliente"><label for="reporteProyeccion" style="color: steelblue;">Reporte de Proyección </label></a>
                            <i class="fas fa-chart-line" style="color:steelblue; margin-left: 3px;"></i>
                        </div>
                        <div>
                            <a href="/"><button class="btn btn-outline-secondary btn-sm">
                                Reporte Ctrl. Almc. Camarón
                            </button> </a>
                            
                        </div>
                    </div>
                   
                    <table class="table table-hover" style="width: 100%; margin: 0 auto; font-size: 14px;">
                        <thead>
                            <tr style="text-align: left;">
                                <th style="color:steelblue;">Código</th>
                                <th style="color:steelblue;">Fecha Registro</th>
                                <th>Proveedor</th>
                                <th>Lote</th>
                                <th style="color:steelblue; width: 150px;">Estado Calidad</th>
                                <th colspan="5"></th>
                            </tr>
                        </thead>
                        
                        <tbody>
                                <td><input class="form-control me-2" type="text" name="filterCodigo" placeholder="Código" [(ngModel)]="filterCodigo"></td>
                                <td><input class="form-control me-2" type="date" name="filterFecha"></td>
                                <td><input class="form-control me-2" type="text" name="filterProv" placeholder="Proveedor" [(ngModel)]="filterProv"></td>
                                <td><input class="form-control me-2" type="text" name="filterLot" placeholder="Lote" [(ngModel)]="filterLot"></td>
                                <td><select style="width: 110px;" class="form-select" name="filterEstadoCali" id="estadoCalidad" [(ngModel)]="filterEstadoCali">
                                    <option value="estado">Aprobado</option>
                                    <option value="estado">Rechazado</option>
                                </select>
                                </td>
                           
                            <tr class="text-center" *ngFor=" let ordenTrabajo of ordenesTrabajo
                            | paginate: {itemsPerPage: 15, currentPage: pageActual}">
                            
                                <td style="text-align: left; width: 150px;">O/T-{{ordenTrabajo.codigo}}-2021</td>
                                <td style="text-align: left;">{{ordenTrabajo.fechaRegistro}}</td>
                                <td style="text-align: left;">{{ordenTrabajo.proveedor}}</td>
                                <td style="text-align: left; width: 100px;">{{ordenTrabajo.lote}}</td>
                                <td style="text-align: left;">
                                    <span style="color: seagreen;" *ngIf="ordenTrabajo.estadoCalidad=='APROBADO'">{{ordenTrabajo.estadoCalidad}}</span>
                                    <span style="color: steelblue;" *ngIf="ordenTrabajo.estadoCalidad=='EN ESPERA'">{{ordenTrabajo.estadoCalidad}}</span>
                                    <span style="color: rgb(255, 32, 32);" *ngIf="ordenTrabajo.estadoCalidad=='RECHAZADO'">{{ordenTrabajo.estadoCalidad}}</span>
                                </td>
                        
                                <td>
                                    <button  class="botones btn btn-outline-info btn-sm" style="width: 110px; background-color: rgb(215, 231, 233); border-color: rgb(215, 231, 233);" [disabled]="ordenTrabajo.estadoCalidad!=condicion">
                                        <a href="/" ><i class="fas fa-boxes"></i> 
                                        Recepción
                                        </a>
                                        
                                    </button>
                                </td>

                                <td>
                                    <a href='/ordenTrabajo/aprobacion/`{ordenTrabajo.id}`'><button  class=" botones btn btn-outline-info btn-sm" style="width: 110px;  background-color: rgb(211, 230, 241); border-color: rgb(204, 228, 243);">
                                        <i class="fas fa-flask"></i>
                                        Aprobación
                                    </button> </a>
                                </td>
 
                                <td>
                                    <a href="/ordenTrabajo/guiasRemision"><button  class="botones btn btn-outline-info btn-sm" style="width: 70px; background-color: rgb(245, 233, 233); border-color: rgb(245, 233, 233);">
                                        <i class="far fa-file-alt"></i>
                                        Guías
                                    </button></a>
                                </td>

                                <td style="width:150px;">
                                    <a href="/ordenTrabajo/ver"><button  class="btn btn-outline-secondary btn-sm">
                                        <i class="fas fa-eye"></i>
                                        Ver
                                    </button></a>
                                
                                    <a href="/ordenTrabajo/editar/:id"><button  class="btn btn-outline-secondary btn-sm" style="margin-right: 3px;">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button> </a>

                                    <button  class="btn btn-danger btn-sm" (click)="deleteOrdenTrabajo(ordenTrabajo.codigo)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                                <td style="text-align: left;">
                                    <a href="/"><button class="btn btn-outline-secondary btn-sm" style="width: 150px; text-align: left;">
                                        <i class="far fa-file-pdf"></i>
                                        Reporte Calidad
                                    </button> </a>
                                    <br>
                                    <a href="/"><button class="btn btn-outline-secondary btn-sm">
                                        <i class="far fa-file-pdf"></i>
                                        Reporte Recepción
                                    </button> </a>
                                    <br>
                                    <a href="/"><button class="btn btn-outline-secondary btn-sm">
                                        <i class="far fa-file-pdf"></i>
                                        Trazabilidad
                                    </button> </a>
                                </td>  
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>