<!doctype html>
<html lang="en">
<head>
    <base href="./">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="text-left" style="margin-bottom: 7px;">
        <a href="/"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Trabajo </button></a>
        
        <a href="/ordenCliente"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Cliente</button> </a>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="content">
            <div class="card card-header">
                <div class="row">
                    <div style="float: left;" class="col-sm-5" *ngFor="let guiaRemision of guiasRemision">
                        <h4>Guía #{{guiaRemision.id}}</h4>
                    </div>
                    <div style="float: right;" class="col-sm-3">
                        <a><button class="btn btn-info">
                            <i class="fas fa-arrow-left"></i>
                            <label> Regresar a ventana de recepción</label>
                        </button></a>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-sm-5" *ngFor="let guiaRemision of guiasRemision" style="margin-top: 30px;">
                    <label>
                        <b>
                            PROVEEDOR:
                        </b>
                        
                    </label> 
                    <label >
                       <!-- {{ordenTrabajo.proveedor}} -->
                    </label>
                    
                    <br>
                    <label>
                        <b>
                            CHOFER:
                        </b>
                        
                    </label>
                    {{guiaRemision.chofer}}
                    <br>
                    <label> 
                        <b>
                            PLACA:
                        </b>
                    </label>
                    {{guiaRemision.placa}}
                </div>
                <div class="col-sm-3" *ngFor="let ordenTrabajo of ordenesTrabajo" style="margin-top: 30px;">
                    <label>
                        <b>
                            OT:
                        </b>
                    </label>
                    O/T-{{ordenTrabajo.id}}-2021
                    <br>
                    <label>
                        <b>
                            LOTE:
                        </b>
                    </label>
                    {{ordenTrabajo.lote}}
                    <br>
                    <label>
                        <b>
                            MP:
                        </b>
                    </label>
                    {{ordenTrabajo.producto}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-5">
                    <table>

                    </table>
                </div>
                <div class="col-sm-3">
                    <table>
                        
                    </table>
                </div>

            </div>

        </div>
    </nav>
</body>
</html>