<!doctype html>
<html lang="en">
<head>
    <base href="./">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="text-left" style="margin-bottom: 7px;">
        <a href="/"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Trabajo </button></a>
        
        <a href="/ordenCliente"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Cliente</button> </a>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="content">
            <div>

                <div class="row">
                    <div class="col-sm-5" style="float: left; margin-bottom: 15px;" *ngFor="let guiaRemision of guiasRemision">
                        <label style="font-size: 30px;">Guía #{{guiaRemision.id}}</label>
                    </div>
                    <table class="pure-table pure-table-condensed-x " style="width: 95%; margin-left: 10px;">
                        <tr>
                            <td *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <label>
                                    <b>
                                        PROVEEDOR: 
                                    </b> 
                                    {{ordenTrabajo.proveedor}}  
                                </label>
                            </td>

                            <td *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <label>
                                    <b>
                                        OT: 
                                    </b> 
                                    O/T-{{ordenTrabajo.id}}-2021
                                </label>
                            </td>
                            <td rowspan="3" *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <a [routerLink]="['/ordenTrabajo/recepcion', ordenTrabajo.id]"><button class="btn btn-info ">
                                    <i class="fas fa-arrow-left"></i>
                                    <label style="margin-left: 2px;">Regresar a ventana de recepción</label>
                                </button></a>
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let guiaRemision of guiasRemision">
                                <label>
                                    <b>
                                        CHOFER: 
                                    </b> 
                                    {{guiaRemision.chofer}}  
                                </label>
                            </td>

                            <td *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <label>
                                    <b>
                                        LOTE: 
                                    </b> 
                                    {{ordenTrabajo.lote}}
                                </label>
                            </td>
                            
                        </tr>

                        <tr>
                            <td *ngFor="let guiaRemision of guiasRemision">
                                <label>
                                    <b>
                                        PLACA: 
                                    </b> 
                                    {{guiaRemision.placa}}  
                                </label>
                            </td>

                            <td *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <label>
                                    <b>
                                        MP: 
                                    </b> 
                                    {{ordenTrabajo.producto}}
                                </label>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card card-header" style="margin-top: 15px; margin-bottom: 15px;">
                                <div class="row">
                                    <div class="col-sm-5" style="text-align: left; font-size: 30px;" >
                                        #T1
                                    </div>
                                    <div class="col-sm-5" style="text-align: right;">
                                        CP:
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-danger btn-sm" style="margin-bottom: 15px;">
                                <i class="fas fa-trash-alt"></i>
                                Eliminar seleccionados
                            </button>
                            <table style="width: 100%;" class="pure-table pure-table-condensed-x table-hover">
                                <thead>
                                    <th>
                                        <input type="checkbox">
                                    </th>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        P.Bruto
                                    </th>
                                    <th>
                                        Peso Neto
                                    </th>
                                    <th>
                                        Creado
                                    </th>
                                    <th>
                                        Ingreso
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>
                                            #
                                        </td>
                                        <td>
                                            <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                                                <input type="tel" class="peso form-control text-center" style="width: 75px;">
                                                <button class="btn btn-success btn-sm" type="button">
                                                    <i class="fas fa-save"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            peso neto
                                        </td>
                                        <td style="width: 150px;">
                                            fecha
                                        </td>
                                        <td style="color: rgb(148, 12, 12);">
                                            Manual
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" type="button">
                                                <i class="fas fa-trash-alt"></i>
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <div class="card card-header" style="margin-top: 15px; margin-bottom: 15px;">
                                <div class="row">
                                    <div class="col-sm-5" style="text-align: left; font-size: 30px;">
                                        #T2
                                    </div>
                                    <div class="col-sm-5" style="text-align: right;">
                                        CP:
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-danger btn-sm" style="margin-bottom: 15px;">
                                <i class="fas fa-trash-alt"></i>
                                Eliminar seleccionados
                            </button>
                            <table style="width: 100%;" class="pure-table pure-table-condensed-x table-hover">
                                <thead>
                                    <th>
                                        <input type="checkbox">
                                    </th>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        P.Bruto
                                    </th>
                                    <th>
                                        Peso Neto
                                    </th>
                                    <th>
                                        Creado
                                    </th>
                                    <th>
                                        Ingreso
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>
                                            #
                                        </td>
                                        <td>
                                            <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                                                <input type="tel" class="peso form-control text-center" style="width: 75px;">
                                                <button class="btn btn-success btn-sm" type="button">
                                                    <i class="fas fa-save"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            peso neto
                                        </td>
                                        <td style="width: 150px;">
                                            fecha
                                        </td>
                                        <td style="color: rgb(148, 12, 12);">
                                            Manual
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" type="button">
                                                <i class="fas fa-trash-alt"></i>
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>