<!doctype html>
<html lang="en">
<head>
    <base href="./">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="text-left" style="margin-bottom: 7px;">
        <a href="/"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Trabajo </button></a>
        
        <a href="/ordenCliente"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Cliente</button> </a>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="content"> 
            <div class="card text-center">
                <div class="card card-header registrotitle text-left">
                    <h3>Aprobación de Lote</h3>  
                </div>
                <div class="card-body ">
                    <div style="text-align: right; margin-bottom: 20px;">
                        <div>
                            <a href="/"><button class="btn btn-danger" style="margin-right: 7px;">
                                <i class="fas fa-chevron-left"> </i>
                                Cancelar
                            </button></a>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tr style="text-align: left;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                            <td style="width: 300px;">
                                <b>Fecha</b> 
                                <br>
                                {{ordenTrabajo.fechaRegistro}}
                            </td>

                            <td style="width: 300px;">
                                <b>Proveedor</b>
                                <br>
                                {{ordenTrabajo.proveedor}}
                            </td>

                            <td style="width: 300px;">
                                <b>Procedencia</b>
                                <br>
                                {{ordenTrabajo.procedencia}}
                            </td>

                            <td style="width: 300px;">
                                <b>Producto</b>
                                <br>
                                {{ordenTrabajo.producto}}
                            </td>
                            
                        </tr>
                        <tr style="text-align: left;" >
                            <td style="width: 300px;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                                <b>Piscina</b>
                                <br>
                                {{ordenTrabajo.piscina}}
                            </td>
                            <td style="width: 300px" *ngFor="let guiaRemision of guiasRemision">
                                <b>Libras Reportadas</b>
                                <br>
                            </td>
                            <td colspan="2" *ngFor="let guiaRemision of guiasRemision">
                                    <b>N° Gavetas Reportadas</b>
                                    <br>
                                    {{guiaRemision.gavetas}}
                            </td>
                        </tr>
                    </table>
                    <table style="text-align: left; width: 100%; margin-top: 30px">
                        <tr>
                            <td style="width: 100px;">
                                <b><label for="numerolote" style="font-size: 18px;">N° Lote</label></b>
                            </td>
                            <td>
                                <b><label for="estado" style="font-size: 18px;">Estado</label></b>
                            </td>
                            <td>
                                <b><label for="colorcamaron" style="font-size: 18px;">Color del camarón</label></b>
                            </td>
                            <td>
                                <b><label for="producto" style="font-size: 18px;">Producto</label></b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1" style="font-size: 12px;">C-</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="width: 50px; font-size: 12px;"  [(ngModel)]="OrdenTrabajo.lote">
                                </div>
                            </td>
                            <td>
                                <label for="aprobado" style="font-size: 18px;"> <input type="radio" name="estado" id="aprobado" value="aprobado" [(ngModel)]="OrdenTrabajo.estadoCalidad">APROBADO</label>
                                <label for="rechazado" style="font-size: 18px; margin-left: 7px;" ><input type="radio" name="estado" id="rechazado" value="rechazado" [(ngModel)]="OrdenTrabajo.estadoCalidad">RECHAZADO</label>
                            </td>
                            <td>
                                <select name="colorcamaron" id="colorcamaron" class="form-select" style="width: 200px;" [(ngModel)]="OrdenTrabajo.colorCamaron">
                                    <option value="a2" name="colorcamaron">A2</option>
                                    <option value="a3" name="colorcamaron">A3</option>
                                </select>
                            </td>
                            <td>
                                <div class="btn-group" >
                                    <button type="button" class="btn btn-success" style="border-color: rgb(153, 150, 150);" value="A" name="calidad" [(ngModel)]="OrdenTrabajo.calidad">A</button>
                                    <button type="button" class="btn btn-default" style="border-color: rgb(153, 150, 150);" value="B" name="calidad" [(ngModel)]="OrdenTrabajo.calidad">B</button>
                                  </div>
                            </td>
                        </tr>
                    
                        <tr *ngFor="let ordenTrabajo of ordenesTrabajo" style="text-align: right;">
                            <td>
                                <button class="btn btn-info btn-sm" style="margin-top: 30px;" routerLink="/" (click)="actualizarOrdenTrabajoAprobacion(ordenTrabajo.id)">
                                    <i class="far fa-save"></i>
                                    Guardar Cambios
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </nav>
</body>