<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="text-left" style="margin-bottom: 7px;">
        <a href="/"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Trabajo </button></a>
        
        <a href="/ordenCliente"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Cliente</button> </a>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="content">  
            <div class="card text-center">
                
                <div class="card card-header registrotitle text-left">
                    <h3>Ordenes de Cliente</h3>  
                </div>
                <div class="card-body">
                    <div>
                        <button class="btn btn-success btn-sm" routerLink="/ordenCliente/add" routerLinkActive="active" style="float: left; margin-bottom: 20px;">
                            <i class="fas fa-plus"> Nueva Orden de Cliente</i>
                        </button>
                    </div>
                   
                    <table class="table table-hover" style="margin:0 auto;">
                        <thead>
                            <tr style="text-align: left;">
                                <th style="color: steelblue; width: 60px;">#</th>
                                <th style="color: steelblue;">Fecha</th>
                                <th style="color: steelblue;">Referencia</th>
                                <th colspan="2">Cliente</th>
                                <th style="color: steelblue;">Destino</th>
                                <th colspan="4"></th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <td style="text-align: left; width: 60px;"><input class="form-control me-2" type="text" name="filterNum" placeholder="#" [(ngModel)]="filterNum"></td>
                            <td style="text-align: left;"><input class="form-control me-2" type="date" name="filterFecha" ></td>
                            <td style="text-align: left;"><input class="form-control me-2" type="text" name="filterRef" placeholder="Referencia"></td>
                            <td colspan="2" style="text-align: left; width: 25%;"><input class="form-control me-2" type="text" name="filterClient" placeholder="Cliente"></td>
                            <td style="text-align: left;"><input class="form-control me-2" type="text" name="filterDest" placeholder="Destino"></td>
                            

                            <tr class="text-center" *ngFor=" let ordenCliente of ordenesCliente
                           
                            | paginate: {itemsPerPage: 15, currentPage: pageActual}">
                       
                                <td style="text-align: left;">#{{ordenCliente.numero}}</td>
                                <td style="text-align: left;">{{ordenCliente.fecha}}</td>
                                <td style="text-align: left;">{{ordenCliente.referencia}}</td>
                                <td colspan="2" style="text-align: left;">{{ordenCliente.cliente}}</td>
                                <td style="text-align: left;">{{ordenCliente.destino}}</td>

                                <td style="color: steelblue; width: 100px;">
                                    <a href="/">
                                        <i class="fas fa-eye" style="margin-right: 4px;"></i>
                                    </a> 

                                    <a href='/ordenCliente/editar/:numero' >
                                        <i class="fas fa-pencil-alt" style="margin-right: 4px;"></i>
                                    </a>
                                    
                                    <a (click)="eliminarOrdenCliente(ordenCliente.numero)" href="/ordenCliente">
                                    <i class="fas fa-trash-alt" style="margin-right: 4px;"></i>

                                    </a>
                                </td>
                               
                                <td><button  class="btn btn-warning" style="color: white;">Finalizar</button></td>

                                <td> <button  class="btn btn-danger">Anular</button> </td>

                                <td>
                                    <button  class="btn btn-primary">
                                        <i class="fas fa-chart-line"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
