<!doctype html>
<html lang="en">
<head>
    <base href="./">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="text-left" style="margin-bottom: 7px;">
        <a href="/"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Trabajo </button></a>
        <a href="/ordenCliente"> <button mat-button style="border-radius: 0%; margin-bottom: 10px;" class="btn btn-success"> Orden Cliente</button> </a>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="content">  
            
            <table>
                <tr  *ngFor="let ordenTrabajo of ordenesTrabajo">
                    <td class="card card-header registrotitle text-left" style="width: 300%;">
                        <h3>Orden Trabajo O/T-{{ordenTrabajo.codigo}}-2021 </h3>
                    </td>
                </tr>
            </table>
                
            <table>
                <tr *ngFor="let ordenTrabajo of ordenesTrabajo">
                    <td>
                        <div style="text-align: left; margin-bottom: 10px; width: 150%; margin-top: 10px;">
                            <a class="btn btn-primary" [routerLink]="['/ordenTrabajo/editar', ordenTrabajo.id]" role="button" style="margin-right: 7px;">Actualizar</a>
                            <a class="btn btn-danger" role="button" (click)="deleteOrdenTrabajo(ordenTrabajo.id)">Eliminar</a> 
                        </div>
                    </td>
                </tr>
            </table>    

            <table  style="font-size: 18px; width: 300%;">
                <tr style="text-align: left;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                    <td><b>Fecha Registro</b></td>
                    <td>{{ordenTrabajo.fechaRegistro}}</td>
                    <td><b>Entidad</b></td>
                    <td>{{ordenTrabajo.proveedor}}</td>
                </tr>
                <tr style="text-align: left;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                    <td><b>Hora Recepción</b></td>
                    <td>{{ordenTrabajo.horaRecepcion}}</td>
                    <td><b>Procedencia</b></td>
                    <td>{{ordenTrabajo.procedencia}} </td>
                </tr>
                <tr style="text-align: left;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                    <td><b>Estado Calidad</b></td>
                    <td>{{ordenTrabajo.estadoCalidad}} </td>
                    <td><b>Piscna</b></td>
                    <td>{{ordenTrabajo.piscina}} </td>
                </tr>
                <tr style="text-align: left;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                    <td><b>Lote</b></td>
                    <td>{{ordenTrabajo.lote}} </td>
                    <td><b>Producto</b></td>
                    <td>{{ordenTrabajo.producto}} </td>
                </tr>
                <tr style="text-align: left;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                    <td><b>Orden Compra</b></td>
                    <td>{{ordenTrabajo.ordencompra}} </td>
                    <td><b>Tipo Producto</b></td>
                    <td>{{ordenTrabajo.tipoProducto}} </td>
                </tr>
                <tr style="text-align: left;" *ngFor="let ordenTrabajo of ordenesTrabajo">
                    <td><b>Observación</b></td>
                    <td>{{ordenTrabajo.observacion}} </td>
                </tr>
            </table>
        </div>
    </nav>
</body>
