<nav class="main-menu">
  <ul>
      <li>
          <a href="/">
            <i class="far fa-file"></i>
              <span class="nav-text">
                  Orden Trabajo (Camaron)
              </span>
          </a>
      </li>
      <li class="has-subnav">
          <a href="/ordenCliente">
            <i class="far fa-file"></i>
              <span class="nav-text">
                  Orden Cliente
              </span>
          </a>
      </li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>